### TF-IDF Weights dengan TfidfVectorizer

### Corpus

In [2]:
corpus = [
    'the house had a tiny little mouse',
    'the cat saw the mouse',
    'the mpuse ran away from the house',
    'the cat finally ate the mouse',
    'the end of the mouse story'
]

corpus

['the house had a tiny little mouse',
 'the cat saw the mouse',
 'the mpuse ran away from the house',
 'the cat finally ate the mouse',
 'the end of the mouse story']

In [3]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer(stop_words='english')
response = vectorizer.fit_transform(corpus)
print(response)

  (0, 7)	0.3270004354105097
  (0, 6)	0.5804234289808452
  (0, 12)	0.5804234289808452
  (0, 5)	0.46828196785865284
  (1, 10)	0.7127752157729959
  (1, 2)	0.5750625560879445
  (1, 7)	0.4015651234424611
  (2, 1)	0.5233582502695435
  (2, 9)	0.5233582502695435
  (2, 8)	0.5233582502695435
  (2, 5)	0.4222421409859579
  (3, 0)	0.5804234289808452
  (3, 4)	0.5804234289808452
  (3, 2)	0.46828196785865284
  (3, 7)	0.3270004354105097
  (4, 11)	0.6569003716341058
  (4, 3)	0.6569003716341058
  (4, 7)	0.3700862108940939

In [4]:
vectorizer.get_feature_names()

['ate',
 'away',
 'cat',
 'end',
 'finally',
 'house',
 'little',
 'mouse',
 'mpuse',
 'ran',
 'saw',
 'story',
 'tiny']

In [5]:
response.todense()

matrix([[0.        , 0.        , 0.        , 0.        , 0.        ,
         0.46828197, 0.58042343, 0.32700044, 0.        , 0.        ,
         0.        , 0.        , 0.58042343],
        [0.        , 0.        , 0.57506256, 0.        , 0.        ,
         0.        , 0.        , 0.40156512, 0.        , 0.        ,
         0.71277522, 0.        , 0.        ],
        [0.        , 0.52335825, 0.        , 0.        , 0.        ,
         0.42224214, 0.        , 0.        , 0.52335825, 0.52335825,
         0.        , 0.        , 0.        ],
        [0.58042343, 0.        , 0.46828197, 0.        , 0.58042343,
         0.        , 0.        , 0.32700044, 0.        , 0.        ,
         0.        , 0.        , 0.        ],
        [0.        , 0.        , 0.        , 0.65690037, 0.        ,
         0.        , 0.        , 0.37008621, 0.        , 0.        ,
         0.        , 0.65690037, 0.        ]])

In [6]:
import pandas as pd

df = pd.DataFrame(response.todense().T,
                 index=vectorizer.get_feature_names(),
                 columns=[f'D{i+1}' for i in range(len(corpus))])
df

               D1        D2        D3        D4        D5
ate      0.000000  0.000000  0.000000  0.580423  0.000000
away     0.000000  0.000000  0.523358  0.000000  0.000000
cat      0.000000  0.575063  0.000000  0.468282  0.000000
end      0.000000  0.000000  0.000000  0.000000  0.656900
finally  0.000000  0.000000  0.000000  0.580423  0.000000
house    0.468282  0.000000  0.422242  0.000000  0.000000
little   0.580423  0.000000  0.000000  0.000000  0.000000
mouse    0.327000  0.401565  0.000000  0.327000  0.370086
mpuse    0.000000  0.000000  0.523358  0.000000  0.000000
ran      0.000000  0.000000  0.523358  0.000000  0.000000
saw      0.000000  0.712775  0.000000  0.000000  0.000000
story    0.000000  0.000000  0.000000  0.000000  0.656900
tiny     0.580423  0.000000  0.000000  0.000000  0.000000